* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main-color-code
#00C471 */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 영역 확인하기 위해 */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section__option {
  border: 1px solid red;
}

.option-wrapper {
  border: 1px solid blue;
  /* margin: 0 32px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modes-wrapper {
  border: 1px solid green;
  display: flex;
}

.anchor__mode {
  border: 1px solid brown;
  display: flex;
}

.option-link {
  border: 1px solid green;
}

.header {
  border: 1px solid red;
}

.navigation {
  border: 1px solid blue;
  display: flex;
}

.logo {
  border: 1px solid green;
}

.navbar-menu {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
}

.menu-wrapper {
  border: 1px solid brown;
  display: flex;
}

.interaction-wrapper {
  border: 1px solid brown;
}

.main {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.section__slider-contents {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

.card__slider-content {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
}

.wrapper__slider-content-list {
  border: 1px solid green;
}

.description-wrapper__slider-content {
  border: 1px solid brown;
}

.img__slider-content {
  border: 1px solid brown;
  width: 100%;
}

.top-50 {
  background: center no-repeat
    url('https://cdn.inflearn.com/public/main_sliders/7f3b415a-7267-49fc-9c68-9926b8c5f600/%5B22%E1%84%90%E1%85%A2%E1%84%80%E1%85%B3%E1%84%85%E1%85%A2%E1%86%AB%E1%84%83%E1%85%B5%E1%86%BC%5Db2b_top50_main_521.gif');
  background-size: contain;
}

.search {
  border: 1px solid blue;
}

.wrapper__search {
  border: 1px solid green;
  height: 100%;
  margin: 0 120px;
}

.lecture__my-previous {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin: 0 120px;
}

.wrapper__title {
  border: 1px solid palevioletred;
}

.container__my-previous-lectures {
  border: 1px solid palevioletred;
}

.lecture__similar-students {
  border: 1px solid blue;
  margin: 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container__lectures {
  border: 1px solid palevioletred;
}

.lecture__popular-javascript {
  border: 1px solid blue;
  margin: 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* .button__browse-lecture-list--left,
.button__browse-lecture-list--right {
  position: absolute;
  top: 50%;
}

.button__browse-lecture-list--left {
  left: 0;
}

.button__browse-lecture-list--right {
  right: 0;
} */

.lecture__popular-git {
  border: 1px solid blue;
  margin: 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container__more-lectures {
  border: 1px solid blue;
  margin: 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container__lecture-categories {
  border: 1px solid palevioletred;
}

.item__lecture-category {
  background: url('https://cdn.inflearn.com/public/main/category/icons_sprites.png');
}

.lecture__new {
  border: 1px solid blue;
  margin: 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container__articles {
  border: 1px solid blue;
}

.container__road-map {
  border: 1px solid blue;
}

.banner__about-business {
  border: 1px solid blue;
}

.banner__about-services {
  border: 1px solid blue;
}

.footer {
  border: 1px solid red;
}

.section__notification {
  border: 1px solid red;
}

.section__chat {
  border: 1px solid red;
}
